<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Prajakt Uttamrao Khawase </h1>
      <h2><a href="https://www.linkedin.com">LinkedIn</a></h2>

      <br>
      <br>
    </div>
  </div>
</div>