<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Vijay Kumar Karanam </h1>
      <h2> <a href="https://www.linkedin.com/in/vijay-kumar-karanam-529386168/">My LinkedIn site</a> </h2>

      <br>
      <br>
    </div>
  </div>
</div>